doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/contact.css")
    title Contact
  body 
    // шапка
    header.header
      .container 
        a(href="index.html") 
          img(src="../../accepts/img/footer-icon.png", alt="")

    // навигация
    .nav 
      a(href="index.html") Main
      a(href="about.html") About
      a(href="work.html") Work
      a(href="contact.html") Contact

    // секция контактов
    .contact
      .container 
        h2.contact__title Let's make something great!
        .contact__text 
          h3 Contact 
          p I'm seeking out opportunities to collaborate with companies / agencies / individuals, not just work for them. I want to bring my collective design experience to the table where we can work together to solve real business-problems in a way that optimizes all of our respective experience and knowledge.
          p I want to avoid subjective pissing-matches, and favor open-minded collaborators where egos are out of the equation. If that all sounds about right, then lets for sure chat about how we can work together.
			
          p Feel free to reach out through any platforms bellow:
			
          a.contact__text-soc(href="https://www.instagram.com/") instagram
          a.contact__text-soc(href="https://www.facebook.com/") facebook
          a.contact__text-soc(href="https://www.vk.com/") vk
          a.contact__text-soc(href="https://www.github.com/") github
          a.contact__text-soc(href="https://www.linkedin.com/") linkedin

    // подвал
    footer.footer
      .container 
        a(href="index.html") 
          img(src="../../accepts/img/footer-icon.png", alt="")
