<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet" href="../css/style.css")
        title My site

body
    // секция всего контента
    section.content
      // секция о себе    
      section.about__section 
        .about-wrapper
          .container
            h2
              a(href="about.html").about__title-page
            h2.about__title
      // секция портфолио      
      section.work__section   
        .work-wrapper
          .container 
            h2 
              a(href="work.html").work__title-page
            h2.work__title
      // секция контактов
      section.contact__section       
        .contact-wrapper
          .container
            h2 
              a(href="contact.html").contact__title-page
            h2.contact__title
