doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/work.css")
    title Work
  body 
    // шапка
    header.header
      .container 
        a(href="index.html") 
          img(src="../../accepts/img/footer-icon.png", alt="")

    // навигация
    .nav 
      a(href="index.html") Main
      a(href="about.html") About
      a(href="work.html") Work
      a(href="contact.html") Contact

    // секция портфолио
    .work
      .container 
        .work__wrapper
          .work__item
            h2 Days App
            a(href="#") iOS Countdown App
          .work__item
            h2 InVision
            a(href="#") Digital product design platform 
          .work__item 
            h2 Achievo
            a(href="#") Platform for achieving personal goals 
          .work__item
            h2 Freelance
            a(href="#") Selected freelance projects
          .work__item
            h2 EDUplay
            a(href="#") App for children with special needs
